#place file in 
''' -------------------
Enable service:

# reload (one time when file is placed in /etc/systemd/system)
sudo systemctl

# tell Linux to run at boot
sudo systemctl enable udp-receiver.service

# start scrip now without reboot
sudo systemstl start udp-receiver.service
-----------------------'''

[Unit]
Description=Python UDP JSON Receiver Service
After=network.target

[Service]
ExecStart=/Home/Documents/Startup/ReceiveHandTrackerStartup.py

#Restart=always
#RestartSec=5

Environment=PYTHONUNBUFFERED=1

User=root

[Install]
WantedBy=multi-user.target
